/* header area */
.nav-item::after {
  background: #ffffff;
}

#nav-icon span {
  background: #ffffff;
}

.nav-link {
  color: #ffffff;
}

@media (max-width: 991px) {
  .nav-link {
    color: #2081ef;
  }
}

/* privacy policy text area */
#privacy-policy-text-area {
  background-color: #4292eb;
  padding-top: 200px;
  padding-bottom: 80px;
}
